# Node modules
frontend/node_modules/
backend/node_modules/

# Python virtual env
ml_model/venv/

# Python cache
**/__pycache__/
*.pyc

# Environment files
*.env

# Build outputs
frontend/dist/
backend/dist/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
